<!-- Header -->
  <header class="masthead1">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <br>
        <h1 class="mx-auto my-0 text-uppercase" style="padding-top: 20px">Welcome to the TU Dublin Surfsite</h1>
        <br>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">A website that is dedicated to provide the best wave riding experience at TU Dublin.</h2>
        <a href="/users/new" class="btn btn-primary js-scroll-trigger">Become a member now</a>
     <!-- </div> -->
    </div>
  </header>

  <!-- About Section -->
  <section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-white mb-4">Built with Bootstrap 4</h2>
          <p class="text-white-50">Grayscale is a free Bootstrap theme created by Start Bootstrap. It can be yours right now, simply download the template on
            <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>
        </div>
      </div>
      <img src="<%= asset_path( 'action-beach-fun-416676.jpg' ) %>" class="img-fluid" alt="">
    </div>
  </section>

  
  <!-- Signup Section -->
  <section id="signup" class="signup-section">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto text-center">

          <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
          <h2 class="text-white mb-5">Subscribe to receive updates!</h2>

          <form class="form-inline d-flex">
            <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address...">
            <button type="submit" class="btn btn-primary mx-auto">Subscribe</button>
          </form>

        </div>
      </div>
    </div>
  </section>

  