<!-- Page Title Yield -->
<% @title="Welcome" %>

<!-- Header -->
  <header class="masthead1">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <br>
        <h1 class="mx-auto my-0 text-uppercase" style="padding-top: 20px">Welcome Rails on Waves Surf Shop Website</h1>
        <br>
        <h3 class="text-white-50 mx-auto mt-2 mb-5">We are a small surf shop in Dublin City Centre that is passionate about surfing.</h3>
        <p class="text-white-50 mx-auto mt-2 mb-5" style="font-size: 15px"><i>The sensual, visceral power of the ocean. <br> The energy of connection through your surfboard. <br> The incredible high while you are riding a wave. <br><br></i></p>
        <a href="/users/new" class="btn btn-primary js-scroll-trigger">Become a member now</a>
     <!-- </div> -->
    </div>
  </header>

  <!-- About Section -->
  <section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="mx-auto my-0 text-uppercase">Products Built with Passion</h2>
        </div>
     <!-- </div>
      <img src="<%= asset_path( 'action-beach-fun-416676.jpg' ) %>" class="img-fluid" alt="">
    </div> -->
  </section>

  <!-- Projects Section -->
  <section id="projects" class="projects-section bg-light">
    <div class="container">

      <!-- Project One Row -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <img class="img-fluid" src="<%= asset_path( 'beach-enjoyment-fun-1667018.jpg' ) %>" alt="">
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left leftboy">
                <h4 class="text-white">Learn about our Family Business</h4>
                <p class="mb-0 text-white-50">We are amazing</p>
                <br>
                 <a href="/users/new" class="btn btn-primary js-scroll-trigger">Learn more</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Project Two Row -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <img class="img-fluid" src="<%= asset_path( 'colorful-colourful-design-757133.jpg' ) %>" alt="">
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right rightboy">
                <h4 class="text-white">Browse through our High Quality Surf Products</h4>
                <p class="mb-0 text-white-50">Our products products are awesome!</p>
                <br>
                 <a href="/products" class="btn btn-primary js-scroll-trigger">Browse now</a>
                 <br>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>
  

  