<!-- Page Title Yield -->
<% @title="About" %>

<!-- About Section -->
  <section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-white mb-4">YOU ARE IN GOOD HANDS</h2>
          <p class="text-white-50">Nice to meet you! <br>We are the O'Kelly Family and as an old O'Kelly family tradition says, we learn to surf before we learn to walk. Since our great-grandfather opened the Rails on Waves Surf Shop in Dublin in 1902, our business experience and passion for surfing has grown over time. Our loyal customers slowly became part of our extended family and therefore, we're excited that you're here with us today. Surfing is living!</p>
        </div>
      </div>
      <img src="<%= asset_path( 'surfgroupphoto.jpg' ) %>" class="img-fluid" alt="">
    </div>
  </section>

  <!-- Projects Section -->
  <section id="projects" class="projects-section bg-light">
    <div class="container">

      <!-- Project One Row -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <img class="img-fluid" src="<%= asset_path( 'surfshop1.jpg' ) %>" alt="Image of our surf shop in Dublin">
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left leftboy">
                <h4 class="text-white">Our Surf Shop</h4>
                <p class="mb-0 text-white-50">Made out of wood, water and lots of hard work, our little Rails on Waves Surf Shop resides directly in Dublin City Center.</p>
                <br>
                 <a href="/shop/products" class="btn btn-primary js-scroll-trigger">Check our Products</a>
                 <br>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Project Two Row -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <iframe width="100%" height="500" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=Technological%20University%20Dublin%20-%20City%20Campus%2C%20Aungier%20Street%2C%20Dublin%2C%20Ireland+(Rails%20on%20Waves%20Surf%20Shop%20Dublin)&amp;ie=UTF8&amp;t=&amp;z=15&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/map-my-route/">Plot a route map</a></iframe><br />
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right rightboy">
                <h4 class="text-white">Step in and find out</h4>
                <p class="mb-0 text-white-50">Use Google Maps to find your shortest route to our Dublin Surf Shop! We are located directly next to the Technological University of Dublin City Center Campus. </p>
                <br>
                 <a href="https://maps.google.com/maps?ll=53.33853,-6.266599&z=15&t=m&hl=en&gl=US&mapclient=embed&daddr=Technological%20University%20Dublin%20-%20City%20Campus%20Aungier%20St%20Dublin@53.3385296,-6.266598699999999" class="btn btn-primary js-scroll-trigger" target="_blank">Find your route</a>
                 <br>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>

  <!-- Contact Section -->
  <section class="contact-section bg-black">
    <div class="container">
          <h3 style="color:white">Contact information</h3>
          <br>

      <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-map-marked-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Address</h4>
              <hr class="my-4">
              <div class="small text-black-50">Aungier Street, Dublin, Ireland</div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Email</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="#">inquiry@railsonwaves.com</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-mobile-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Phone</h4>
              <hr class="my-4">
              <div class="small text-black-50">+353 (01) 402 3000</div>
            </div>
          </div>
        </div>
      </div>
</div>
    </div>
  </section>
